{{define "main"}}
	<header>
		<h1><a href="/">diet hexbear</a></h1>
		<aside>{{ .MOTD }}</aside>
	</header>
	<hr>
	<main>
		<div class="stack">
		{{ range .Posts }}
			<span class="post">
				<a href="{{if .URL}}{{.URL}}{{else}}/post/{{.ID}}{{end}}">{{.Name}}</a>
				<a href="/post/{{.ID}}">[talk]</a>
			</span>
		{{ end }}
		</div>
	</main>
{{end}}
