{{define "main"}}
	<header>
		<h1><a href="/">diet hexbear</a></h1>
		<aside>{{ .MOTD }}</aside>
	</header>
	<hr>
	<main>
		<div class="stack">
		{{ range .Posts }}
			<div class="post">
				<span class="links">
					<a href="{{if .URL}}{{.URL}}{{else}}/post/{{.ID}}{{end}}">{{.Name}}</a>
					<a href="/post/{{.ID}}">[talk]</a>
				</span>
				<small>
				{{.Upvotes}} bears by <a href="/u/{{.CreatorName}}">
						{{.CreatorName}}</a> {{Timestamp .}}
				</small>
			</div>
		{{ end }}
		</div>
	</main>
{{end}}
