{{define "main"}}
	<header>
		<h1><a href="/">diet hexbear</a></h1>
		<aside><a href="/c/{{.Community.Name}}">{{.Community.Title}}</a></aside>
	</header>
	<hr>
	<main>
		<div class="stack">
			<h1>{{.Post.Name}}</h1>
			<article>{{.Post.Body}}</article>
			<hr>
		</div>
	</main>
{{end}}
