{{define "main"}}
	<header>
		<h1><a href="/">diet hexbear</a></h1>
		<aside><a href="/c/{{.Community.Name}}">{{.Community.Title}}</a></aside>
	</header>
	<hr>
	<main>
		<div class="stack">
			{{if .Post.URL}}
			<h1><a href={{.Post.URL}}>{{.Post.Name}}</a></h1>
			{{else}}
			<h1>{{.Post.Name}}</h1>
			{{end}}
			<small>
				by <a
					href="/u/{{.Post.CreatorName}}"
					title="{{if .Post.CreatorTags.Pronouns}}{{.Post.CreatorTags.Pronouns}}{{else}}none/none{{end}}">
					{{.Post.CreatorName}}</a> {{Timestamp .Post}}
			</small>
			{{if .Post.Image}}<img src="{{.Post.Image}}" alt="Title Picture">{{end}}
			{{if .Post.Body}}
			<article>{{.Post.Body}}</article>
			{{end}}
			<hr>
			<ol class="comments">
				{{range .Comments}}
					{{template "comment" .}}
				{{end}}
			</ol>
		</div>
	</main>
	<script nonce="{{.CSPNonce}}">
	const folders = document.getElementsByClassName("comment-folder");
	const fold = (event) => {
		const label = event.currentTarget;
		const comment = label.parentElement.parentElement;
		if (comment.classList.contains("folded")) {
			comment.classList.remove("folded")
			label.textContent = "[-]"
		} else {
			comment.classList.add("folded")
			label.textContent = "[+]"
		}
	}
	for (folder of folders) {
		folder.addEventListener("click", fold);
	}
	</script>
{{end}}
