{{define "main"}}
	<header>
		<h1><a href="/">diet hexbear</a></h1>
		<aside><a href="/c/{{.Community.Name}}">{{.Community.Title}}</a></aside>
	</header>
	<hr>
	<main>
		<div class="stack">
			<h1>{{.Post.Name}}</h1>
			{{if .Post.Image}}<img src="{{.Post.Image}}" alt="Title Picture">{{end}}
			<article>{{.Post.Body}}</article>
			<hr>
			<div class="comments">
				<ul>
					{{range .Comments}}
						<li>{{.Content}}</li>
					{{end}}
				</ul>
			</div>
		</div>
	</main>
{{end}}
