{{define "comment"}}
<li class="comment">
	<div class="byline">
		<label class="comment-folder">[-]</label>
		<a href="{{.CreatorURL}}">
			{{.CreatorDisplayName}}
		</a>
		<small><aside>{{.Upvotes}} bears {{Timestamp .}}</aside></small>
	</div>
	<div class="comment-text">
	{{.Content}}
	</div>
	{{if .Children}}
	<ol class="comments nested">
	{{range .Children}}
		{{template "comment" .}}
	{{end}}
	</ol>
	{{end}}
</li>
{{end}}
