{{define "comment"}}
<li class="comment">
	<div class="byline">
		<label class="comment-folder">[-]</label>
		<a
			href="/u/{{.CreatorName}}"
			title="{{if .CreatorTags.Pronouns}}{{.CreatorTags.Pronouns}}{{else}}none/none{{end}}">
			{{.CreatorName}}
		</a>
		<small>{{ Timestamp . }}</small>
	</div>
	<div class="comment-text">
	{{.Content}}
	</div>
	{{if .Children}}
	<ol class="comments nested">
	{{range .Children}}
		{{template "comment" .}}
	{{end}}
	</ol>
	{{end}}
</li>
{{end}}
