{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Hexbear, but for old and slower computers">
	<title>ʕ •ᴥ•ʔ</title>
	<style nonce="{{.CSPNonce}}">
	:root {
		--ratio: 1.5;
		--s-5: calc(var(--s-4) / var(--ratio));
		--s-4: calc(var(--s-3) / var(--ratio));
		--s-3: calc(var(--s-2) / var(--ratio));
		--s-2: calc(var(--s-1) / var(--ratio));
		--s-1: calc(var(--s0) / var(--ratio));
		--s0: 1rem;
		--s1: calc(var(--s0) * var(--ratio));
		--s2: calc(var(--s1) * var(--ratio));
		--s3: calc(var(--s2) * var(--ratio));
		--s4: calc(var(--s3) * var(--ratio));
		--color-primary: hsl(319deg 41% 43%);
		--color-alt: hsl(8deg 72% 43%);
		--color-fg: #000;
		--color-fg-light: #444;
		--color-bg: #fff;
		--color-bg-light: #eee;
		--color-dark-primary: hsl(319deg 55% 57%);
		--color-dark-alt: hsl(8deg 100% 71%);
		--color-dark-fg: #e9e9e9;
		--color-dark-fg-light: #ccc;
		--color-dark-bg: #191919;
		--color-dark-bg-light: #292929;
		font-size: calc(.333vw + 1em);
	}
	*,
	:after,
	:before {
		box-sizing: border-box;
		font-family: inherit;
		color: inherit;
		background-color: inherit;
		overflow-wrap: break-word;
		margin: 0;
		padding: 0;
		border: 0 solid
	}
	body {
		color: var(--color-fg);
		background-color: var(--color-bg);
		box-sizing: content-box;
		max-inline-size: 60ch;
		margin-inline: auto;
		padding: var(--s1);
		font-family: system-ui, sans-serif;
	}
	@media (prefers-color-scheme: dark) {
		body {
			color: var(--color-dark-fg);
			background-color: var(--color-dark-bg);
		}
	}
	body > * + * {
		margin-block-start: var(--s1);
	}
	a {
		color: var(--color-alt);
	}
	a:hover, a:focus {
		color: var(--color-bg);
		outline: 0 none;
		background-color: var(--color-alt);
	}
	a:visited {
		color: var(--color-primary);
	}
	a:visited:hover, a:visited:focus, ::selection {
		color: var(--color-bg);
		outline: 0 none;
		background-color: var(--color-primary);
	}
	@media (prefers-color-scheme: dark) {
		a {
			color: var(--color-dark-alt);
		}
		a:hover, a:focus {
			color: var(--color-dark-bg);
			background-color: var(--color-dark-alt);
		}
		a:visited {
			color: var(--color-dark-primary);
		}
		a:visited:hover, a:visited:focus, ::selection {
			color: var(--color-dark-bg);
			background-color: var(--color-dark-primary);
		}
	}
	hr {
		border-block-end: var(--s-4) solid var(--color-primary);
	}
	@media (prefers-color-scheme: dark) {
		hr {
			border-block-end: var(--s-4) solid var(--color-dark-primary);
		}
	}
	img {
		max-width: 100%;
	}
	p > img {
		padding: var(--s-2);
	}
	img[title^='emoji'] {
		width: 6ch;
	}
	ul {
		padding-inline-start: var(--s0);
	}
	ol:not(.comments) {
		padding-inline-start: var(--s0);
	}
	blockquote {
		padding: var(--s-2);
		margin-block-start: var(--s-2);
		border-inline-start: var(--s-4) solid var(--color-fg-light);
		background-color: var(--color-bg-light);
	}
	@media (prefers-color-scheme: dark) {
		blockquote {
			border-inline-start: var(--s-4) solid var(--color-dark-fg-light);
			background-color: var(--color-dark-bg-light);
		}
	}
	small {
		color: var(--color-fg-light);
		font-size: var(--s-1);
	}
	@media (prefers-color-scheme: dark) {
		small {
			color: var(--color-dark-fg-light);
		}
	}

	header {
		font-family: monospace;
	}
	header > * {
		text-align: center;
	}
	header a {
		text-decoration: none;
	}
	header > * + * {
		margin-block-start: var(--s1);
	}
	footer {
		font-family: monospace;
	}
	footer > * {
		text-align: center;
	}
	footer a {
		text-decoration: none;
	}
	footer > * + * {
		margin-block-start: var(--s1);
	}

	.navigation {
		display: flex;
		flex-flow: row wrap;
	}
	.navigation > * {
		flex: 1;
	}

	.stack {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	.stack > * + * {
		margin-block-start: var(--s1);
	}
	.stack a {
		text-decoration: none;
	}

	.post .links {
		display: flex;
	}
	.post .links > *:first-child {
		flex: 1;
		padding-inline-end: 1ch;
	}

	article {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	article > * + * {
		margin-block-start: var(--s0);
	}

	.comments {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		list-style: none;
	}
	.comments * + * {
		margin-block-start: var(--s0);
	}
	.nested {
		border-inline-start: var(--s-4) solid var(--color-primary);
		padding-inline-start: var(--s-1);
	}
	.comment > .comment-text {
		margin-block: 0;
	}
	.byline {
		font-size: var(--s-1);
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: flex-start;
		gap: var(--s-4);
	}
	.comment > .byline > * {
		margin-block: 0;
	}
	.comment > .comment-text > p > img {
		vertical-align: middle;
	}
	@media (prefers-color-scheme: dark) {
		.nested {
			border-inline-start: var(--s-4) solid var(--color-dark-primary);
		}
	}

	.comment-folder {
		font-family: monospace, monospace;
		color: var(--color-alt);
		cursor: pointer;
	}
	.comment-folder:hover, .comment-folder:focus {
		color: var(--color-bg);
		outline: 0 none;
		background-color: var(--color-alt);
	}
	@media (prefers-color-scheme: dark) {
		.comment-folder {
			color: var(--color-dark-alt);
		}
		.comment-folder:hover, .comment-folder:focus {
			color: var(--color-dark-bg);
			background-color: var(--color-dark-alt);
		}
	}
	.folded > * + * {
		display: none;
	}
	.comment aside {
		float: right;
	}
	</style>
</head>
<body>
	{{template "main" .}}
</body>
</html>
{{end}}
