{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>(๑ᵔ⤙ᵔ๑)</title>
	<style nonce="{{.CSPNonce}}">
	:root {
		--ratio: 1.5;
		--s0: 1rem;
		--s1: calc(var(--s0) * var(--ratio));
		--s2: calc(var(--s1) * var(--ratio));
		--s3: calc(var(--s2) * var(--ratio));
		--s4: calc(var(--s3) * var(--ratio));
		--color-primary: #9a407e;
		--color-alt: #e36956;
		--color-fg: #000;
		--color-bg: #fff;
		font-size: calc(.333vw + 1em);
	}
	*,
	:after,
	:before {
		box-sizing: border-box;
		font-family: inherit;
		color: inherit;
		background-color: inherit;
		overflow-wrap: break-word;
		margin: 0;
		padding: 0;
		border: 0 solid
	}
	body {
		color: var(--color-fg);
		background-color: var(--color-bg);
		box-sizing: content-box;
		max-inline-size: 60ch;
		margin-inline: auto;
		padding: var(--s1);
		font-family: system-ui, sans-serif;
	}
	body > * + * {
		margin-block-start: var(--s1);
	}
	a {
		color: var(--color-alt);
	}
	a:hover {
		color: var(--color-bg);
		background-color: var(--color-alt);
	}
	a:visited {
		color: var(--color-primary);
	}
	a:visited:hover {
		color: var(--color-bg);
		background-color: var(--color-primary);
	}
	hr {
		border-bottom: 0.125rem solid var(--color-primary);
	}

	header {
		font-family: monospace;
	}
	header > * {
		text-align: center;
	}
	header a {
		color: inherit;
		text-decoration: none;
	}
	header > * + * {
		margin-block-start: var(--s1);
	}

	.posts {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	.posts > * + * {
		margin-block-start: var(--s1);
	}
	.posts a {
		text-decoration: none;
	}
	</style>
</head>
<body>
	{{template "main" .}}
</body>
</html>
{{end}}
