{{define "main"}}
	<header>
		<h1><a href="/">diet hexbear</a></h1>
		<aside>{{ .Name }}</aside>
		<aside class="navigation">
			{{if gt .Page 1}}<a href="/c/{{ .Name }}/?page={{Decrement .Page}}">prev</a>{{end}}
			<a href="/communities">communities</a>
			<a href="/c/{{ .Name }}/?page={{Increment .Page}}">next</a>
		</aside>
	</header>
	<hr>
	<main>
		<div class="stack">
		{{ range .Posts }}
			<div class="post">
				<span class="links">
					<a href="{{if .URL}}{{.URL}}{{else}}/post/{{.ID}}{{end}}">{{.Name}}</a>
					<a href="/post/{{.ID}}">[talk]</a>
				</span>
				<small>
				{{.Upvotes}} bears {{.CommentCount}} comments by <a href="{{.CreatorURL}}">
						{{.CreatorDisplayName}}</a> {{Timestamp .}} in <a href="/c/{{.CommunityName}}">{{.CommunityName}}</a>
				</small>
			</div>
		{{ end }}
		</div>
	</main>
	<hr>
	<footer>
		<aside class="navigation">
			{{if gt .Page 1}}<a href="/c/{{ .Name }}/?page={{Decrement .Page}}">prev</a>{{end}}
				<a href="/c/{{ .Name }}/?page={{Increment .Page}}">next</a>
		</aside>
	</footer>
{{end}}
