{{define "main"}}
	<header>
		<h1><a href="/">diet hexbear</a></h1>
		<aside>{{ .Message }}</aside>
		<aside class="navigation">
			{{if gt .Page 1}}<a href="{{PrevPage .Page .Sort}}">prev</a>{{end}}
			<a href="/communities">communities</a>
			<a href="{{NextPage .Page .Sort}}">next</a>
		</aside>
		{{template "sort" .}}
	</header>
	<hr>
	<main>
		<div class="stack">
		{{ range .Posts }}
			<div class="post">
				<span class="links">
					<a href="{{if .URL}}{{.URL}}{{else}}/post/{{.ID}}{{end}}">{{.Name}}{{if .FeaturedCommunity}} 🖈{{end}}</a>
					<a href="/post/{{.ID}}">[talk]</a>
				</span>
				<small>
				{{.Upvotes}} bears {{.CommentCount}} comments by <a href="{{.CreatorURL}}">
						{{.CreatorDisplayName}}</a> {{Timestamp .}} in <a href="/c/{{.CommunityName}}">{{.CommunityName}}</a>
				</small>
			</div>
		{{ end }}
		</div>
	</main>
	<hr>
	<footer>
		<aside class="navigation">
			{{if gt .Page 1}}<a href="{{PrevPage .Page .Sort}}">prev</a>{{end}}
				<a href="{{NextPage .Page .Sort}}">next</a>
		</aside>
	</footer>
	<script nonce="{{.CSPNonce}}">
	const sorter = document.getElementById("sort");
	sorter.addEventListener('change', () => {
		sorter.form.submit();
	})
	</script>
{{end}}
