{{define "main"}}
	<header>
		<h1><a href="/">diet hexbear</a></h1>
		<aside><a href="/c/{{.Post.CommunityName}}">{{.Post.CommunityName}}</a></aside>
	</header>
	<hr>
	<main>
		<div class="stack">
			{{if .Post.URL}}
			<h1><a href={{.Post.URL}}>{{.Post.Name}}</a></h1>
			{{else}}
			<h1>{{.Post.Name}}</h1>
			{{end}}
			<small>
				{{.Post.Upvotes}} bears by <a href="{{.Post.CreatorURL}}">
					{{.Post.CreatorDisplayName}}</a> {{Timestamp .Post}}
			</small>
			{{if .Post.Image}}<img src="{{.Post.Image}}" alt="Title Picture">{{end}}
			{{if .Post.Body}}
			<article>{{.Post.Body}}</article>
			{{end}}
			<hr>
			<ol class="comments">
				{{range .Comments}}
					{{template "comment" .}}
				{{end}}
			</ol>
		</div>
	</main>
	<script nonce="{{.CSPNonce}}">
	const folders = document.getElementsByClassName("comment-folder");
	function fold(label) {
		const comment = label.parentElement.parentElement;
		if (comment.classList.contains("folded")) {
			comment.classList.remove("folded")
			label.textContent = "[-]"
		} else {
			comment.classList.add("folded")
			label.textContent = "[+]"
		}
	}
	for (folder of folders) {
		folder.addEventListener("click", e => {
			fold(e.currentTarget);
		})
	}

	const comments = document.getElementsByClassName("comment-text");
	let touchstartX = 0;
	let touchstartY = 0;
	let touchendX = 0;
	let touchendY = 0;

	function checkDirection(event) {
		const diffY = (touchstartY - touchendY) / window.screen.availHeight;
		const diffX = (touchstartX - touchendX) / window.screen.availWidth;
		if (diffY > 0.05 || diffY < -0.05) {
			return;
		}
		if (diffX < 0.2) {
			return;
		}
		if (touchendX < touchstartX) {
			const c = event.currentTarget.parentElement;
			console.log(c.firstElementChild.firstElementChild);
			fold(c.firstElementChild.firstElementChild);
		}
	}

	for (comment of comments) {
		comment.addEventListener('touchstart', e => {
			touchstartX = e.changedTouches[0].screenX;
			touchstartY = e.changedTouches[0].screenY;
		})

		comment.addEventListener('touchend', e => {
			touchendX = e.changedTouches[0].screenX;
			touchendY = e.changedTouches[0].screenY;
			checkDirection(e);
		})
	}
	</script>
{{end}}
